{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Image Processing Application!</h1>
    <div>
        <h3>Before</h3>
        <img src="{{ url_for('static', filename='img/temp_img.jpeg') }}" alt="image here">
    </div>
    <div>
        <h3>After</h3>
        <img src="{{ url_for('static', filename=file_path) }}" alt="image here">
    </div>
    <h4>Your Matrix</h4>
    <form form id="" action="{{ url_for('convoluting') }}" method="POST" enctype="multipart/form-data">
        <div>
            <input placeholder="0" size="3" type="text" name="mat11">
            <input placeholder="0" size="3" type="text" name="mat12">
            <input placeholder="0" size="3" type="text" name="mat13">
        </div>
        <div>
            <input placeholder="0" size="3" type="text" name="mat21">
            <input placeholder="0" size="3" type="text" name="mat22">
            <input placeholder="0" size="3" type="text" name="mat23">
        </div>
        <div>
            <input placeholder="0" size="3" type="text" name="mat31">
            <input placeholder="0" size="3" type="text" name="mat32">
            <input placeholder="0" size="3" type="text" name="mat33">
        </div>
        <p>Running convolution can be took a long time depend on your image pixel size. If you can get multithreading in convolution
            function, please fork my repository and pull your code.</p>
        <button type="submit" class="btn btn-success">Preview</button>
    </form>
    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Back</button>
    </form>
</div>
{% endblock %}