{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Image Processing Application!</h1>
    <div>
        <h3>Before</h3>
        <img src="{{ url_for('static', filename='img/temp_img.jpeg') }}" width="1280px" height="720px" alt="image here">
    </div>
    <div>
        <h3>After</h3>
        <img src="{{ url_for('static', filename=file_path) }}" width="1280px" height="720px" alt="image here">
    </div>
    <div>
        <form id="" action="{{ url_for('darkeningwithdecrease') }}" method="POST" enctype="multipart/form-data">
            <p>Darkening with Decrease</p>
            <input placeholder="example: 200" type="number" name="val_increase">
            <button type="submit" class="btn btn-success">Preview</button>
        </form>

        <form id="" action="{{ url_for('darkeningwithdivide') }}" method="POST" enctype="multipart/form-data">
            <p>Darkening with Multiply</p>
            <input placeholder="example: 2" type="number" name="val_multiply">
            <button type="submit" class="btn btn-success">Preview</button>
        </form>
    </div>
    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Back</button>
    </form>
</div>
{% endblock %}