{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Image Processing Application!</h1>
    <div>
        <h3>Image</h3>
        <img src="{{ url_for('static', filename='img/temp_img.jpeg') }}" alt="image here">
    </div>
    <div>
        <h3>Histogram</h3>
    </div>
    <div>
        <img src="{{ url_for('static', filename='img/temp_red_hist.jpeg') }}" alt="image here">
        <img src="{{ url_for('static', filename='img/temp_green_hist.jpeg') }}" alt="image here">
        <img src="{{ url_for('static', filename='img/temp_blue_hist.jpeg') }}" alt="image here">
    </div>
    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Back</button>
    </form>
</div>
{% endblock %}