<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Processing Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    {% include "includes/_navbar.html" %}
    <div class="container"></div>
    {% block body %} {% endblock %}
    </div>
    <div id="sfcw44hq3k13fyzf3z3rjja79lpak4rhkbt"></div>
    <script type="text/javascript" src="https://counter9.freecounter.ovh/private/counter.js?c=w44hq3k13fyzf3z3rjja79lpak4rhkbt&down=async"
        async></script>
    <noscript>
        <a href="https://www.freecounterstat.com" title="free web counter">
            <img src="https://counter9.freecounter.ovh/private/freecounterstat.php?c=w44hq3k13fyzf3z3rjja79lpak4rhkbt" border="0" title="free web counter"
                alt="free web counter">
        </a>
    </noscript>
    <div>
        <script type="text/javascript" src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=200&amp;went=10"></script>
        <noscript>
            <a href="http://feedjit.com/">Live Traffic Stats</a>
        </noscript>
    </div>
</body>

</html>