{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Image Processing Application!</h1>
    <img src="{{ url_for('static', filename=file_path) }}" alt="image here">

    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-success">Normal</button>
    </form>

    <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Grayscale</button>
    </form>

    <form id="" action="{{ url_for('inverse') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Inverse</button>
    </form>

    <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Zoom In</button>
    </form>

    <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Zoom Out</button>
    </form>
</div>
{% endblock %}