{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Image Processing Application!</h1>
    <div>
        <h3>Before</h3>
        <img src="{{ url_for('static', filename='img/temp_img.jpeg') }}" alt="image here">
    </div>
    <div>
        <h3>After</h3>
        <img src="{{ url_for('static', filename=file_path) }}" alt="image here">
    </div>
    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-success">Normal</button>
    </form>

    <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Grayscale</button>
    </form>

    <form id="" action="{{ url_for('inverse') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Inverse</button>
    </form>

    <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Zoom In</button>
    </form>

    <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Zoom Out</button>
    </form>

    <form id="" action="{{ url_for('crop') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Crop</button>
    </form>

    <form id="" action="{{ url_for('fliphorizontal') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Horizontal Flip</button>
    </form>

    <form id="" action="{{ url_for('flipvertical') }}" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Vertical Flip</button>
    </form>

    <form id="" action="{{ url_for('brightness') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Brightness</button>
    </form>

    <form id="" action="{{ url_for('darkening') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Darkening</button>
    </form>

    <form id="" action="{{ url_for('histogram') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Histogram</button>
    </form>

    <form id="" action="{{ url_for('rotate90') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Rotate 90</button>
    </form>

    <form id="" action="{{ url_for('rotate180') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Rotate 180</button>
    </form>

    <form id="" action="{{ url_for('rotate270') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-warning">Rotate 270</button>
    </form>
</div>
{% endblock %}